
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
    <body>

    <div id="landing-header">
        <h1 class="display-4">Welcome to oneStop.</h1>
       <p>your stop for everything....!!</p>
        <br />
        <button [routerLink]="['/customer']"  class="btn btn-success btn-lg">Customer Login</button>
        &nbsp;&nbsp;
        <button [routerLink]="['/vendor']"  class="btn btn-light btn-lg" >Vendor Login</button>
      </div>
    
      <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
	

</body>
</html>

