.row{
    margin-left:300px;
    margin-right:auto;
    margin-top:10vh;
}

/*  */
  input {
    padding: 4px 10px;
    border: 0;
    font-size: 16px;
  }
  .search {
    width: 75%;
  }
  .submit {
    width: 100px;
    background-color: #009879;
    color: #ffffff;
    border-radius: 12px;
  }